:root {
    --accent-color: #573d91;
    --dark-color: #2f2f2f;
    --grey-color: #f1f1f1;
    --body-text-color: #757575;
    --light-text-color: #afafaf;
    --dark-text-color: #2f2f2f;
    --dark-black: #010100;
    --dark-gray: #2b2b2b;
    --purple: #573d91;
    --deep-purple: #4a2985;
    --bright-yellow: #ffde1d;
    --white: #fbfbfd;
    --black: #1c1c1c;
  }